/* src/pages/Contact.css */

  
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  
  .contact-content {
    width: 75%;
    height: 65%;
    padding: 40px;
    border-radius: 0;
    background: rgba(15, 15, 15, 0.8);
    border: 2px solid #00d5ff;
    backdrop-filter: blur(20px);
    transform: scale(1.5) translateY(-50px); /* Initial state slightly zoomed and offset */
    transition:  transform 1s ease; /* Smooth transition */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contact-content.visible {
    opacity: 1;
    transform: scale(1) translateY(0); /* Returns to normal size and position */
  }
  
  .small-text {
    font-size: 1rem;
    letter-spacing: 2px;
    opacity: 0.7;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .main-text {
    font-size: 6rem;
    letter-spacing: 5px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }



  /* Basic button styles */
.message-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 8px solid transparent; /* Initial transparent border */
}

/* Text inside the button */
.message-button a {
    text-decoration: none;
    font-size: 0.9rem;
    color: inherit;
    text-align: center;
    position: relative;
    z-index: 1; /* Keep text above pseudo-elements */
    transition: transform 0.3s ease;
}

/* Slightly enlarge text on hover */
.message-button:hover a {
    transform: scale(1.1);
}

/* Arc effect without filling */
.message-button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: 8px solid transparent;
    border-left-color: #00d4ff;
    transform: rotate(45deg);
    transition: transform 0.6s ease, border 0.6s ease;
}

/* On hover, make the arc a full circle */
.message-button:hover::before {
    border-color: #00d4ff;
    transform: rotate(800deg); /* Full rotation for smooth effect */
}


/* Optional subtle background pulse */
.message-button::after {
    content: '';
    position: absolute;
    width: 220%;
    height: 220%;
    border-radius: 50%;
    background-color: #00d4ff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.message-button:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.message-button:hover a {
    font-weight: 500;
}


@media (max-width: 768px) {

  .contact-content {
    width: 55%;
    height: 45%;
  }

  .main-text {
    font-size: 2rem;
  }

}
