.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0rem;
  padding-right: 0rem;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1000;
  overflow-x: hidden;
  height: 70px;
}

.logo {
  font-size: 1.5rem;
  color: #00d4ff;
  font-weight: bold;
  margin-left: 5rem;
}

.logo .highlight {
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 5rem;
}

.nav-links li {
  text-transform: uppercase;
  color: #aaaaaa;
  background: none;
  width: auto;
  padding : 0;
  border: none;
  line-height: 1;
}

.nav-links li a {
  color: inherit;
  text-decoration: none;
  display: inline;
}

.nav-links li a:hover {
  color: #00d4ff;
}

.nav-links li:after {
  content: "//";
  color: #444;
  margin-left: 5px;
  font-weight: lighter;
}

body {
  overflow-x: hidden;
}

.hamburger {
  display: none; /* Hidden on desktop */
  font-size: 1.5rem;
  cursor: pointer;
  color: #00d4ff;
  margin-right: 20px;
}

@media (max-width: 768px) {

  .logo {
    margin: auto;
  }

  .navbar {
    padding: 10px 15px;
    flex-direction: row;
  }

  .nav-links {
    display: none; /* Hidden by default on mobile */
    flex-direction: column;
    align-items: top;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    width: 100%; /* Full width of the page */
    background-color: rgba(0, 0, 0, 0.98);
    color: #ffffff;
    padding: 0px 0;
    z-index: 9999;
    overflow-y: hidden; 
  }

  .nav-links.show {
    display: flex ;
  }

  .nav-links li {
    width: 100%;
    text-align: center;
    margin-top: 80px;
  }

  .nav-links li a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: larger;
  }

  .hamburger {
    display: block;
  }

  body.menu-open {
    overflow: hidden;
  }

  .nav-links li:after {
    display: none;
    content: "//";
    color: #444;
    margin-left: 5px;
    font-weight: lighter;
  }
}
