html, body {
    scroll-behavior: smooth; 
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
  }
  
  .app {
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
    height: 100vh; 
  }
  
  .section {
    scroll-snap-align: start; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  
  #projects { background-color: #0f0f0f; }
  #expertise { background-color: #0f0f0f; }
  #experience { background-color: #0f0f0f; }
  #contact { background-color: #0f0f0f; }
  